<?xml version="1.0" encoding="UTF-8"?>

<widget id="" version="0.0.1"> 
  <name>赛码汇</name>  
  <description/>  
  <author email="" href="http://www.apicloud.com"></author>  
  <content src="app/index/html/index.html"/>  
  <preference name="pageBounce" value="false"/>  
  <preference name="appBackground" value="rgba(0,0,0,0.0)"/>  
  <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>  
  <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>  
  <preference name="hScrollBarEnabled" value="true"/>  
  <preference name="vScrollBarEnabled" value="true"/>  
  <preference name="autoLaunch" value="true"/>  
  <preference name="fullScreen" value="false"/>  
  <preference name="autoUpdate" value="true"/>  
  <preference name="smartUpdate" value="true"/>  
  <preference name="debug" value="false"/>  
  <preference name="statusBarAppearance" value="true"/>  
  <preference name="appCertificateVerify" value="false"/>  
  <permission name="readPhoneState"/>  
  <permission name="camera"/>  
  <permission name="record"/>  
  <permission name="location"/>  
  <permission name="fileSystem"/>  
  <permission name="internet"/>  
  <permission name="bootCompleted"/>  
  <permission name="hardware"/>  
  <access origin="*"/>
  <feature name="umAnalytics">
    <param name="ios_appkey" value="5fffb45d6a2a470e8f789df0"/>
    <param name="android_appkey" value="60110583f1eb4f3f9b73bc45"/>
</feature>
</widget>
